<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="d-flex ">
    <%= turbo_stream_from "posts" %>
    <%= turbo_frame_tag "posts" do %>
      <%= render @posts %>
    <% end %>
  </div>

</table>

<br>

<%= link_to 'New Post', new_post_path %>
